@import url(SASS/estilos.css);
@mixin body {
    font-family: arial, helvetica;
	background: #e8e8e8;
    background-image: url(./media/1366_2000.jpeg);
    background-size: cover;
    background-position: center;
}
// Colores

$color1: white;
$color2: #48055c;
$color3: black;
$color4: grey;

*{
    color: $color1;
}

body{
    @include body
}

nav{
    background: $color2;
    height: 80px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 40px;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: $color1;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #8a8aaf;
    transition: .5s;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.checkbtn{
    font-size: 30px;
    color: $color1;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
main{
	background-color: $color2;
    color: $color1;
}
article{
	background-color: $color2;
	color: $color1;
	border: 2px solid $color1;
}
.contacto-email{
    padding: 20px;
    color: $color1;
}
.call{
    width: 50%;
    color: $color1;
    border: 2px solid $color3;
    background-color: rgba(51, 51, 51, 0.5);
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:20px;
}
#cons{
	color: $color3;
	text-align: center;
	padding: 50px;
	background-color: rgba(128, 128, 128, 0.678);
}
.call a{
        background-color: $color2;
        text-decoration: none;
        color: $color1;
        padding: 10px 20px;
        text-transform: capitalize;
        border-radius: 7px;
        border: 2px solid $color4;
}
    .call a:hover{
        background-color: $color4;
        transition: all 0.8s;
        border: 2px solid $color2;
    }

.container-button{
	    background-color: $color1;
        text-decoration: none;
        color: $color3;
        padding: 10px 20px;
        text-transform: capitalize;
        border-radius: 7px;
        border: 2px solid $color4;
	    text-decoration: none;
}

    .container-button:hover{
        background-color: $color4;
        transition: all 0.8s;
        border: 2px solid $color2;
}
footer{
    background-color: $color3;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: $color1;
    text-align: center;
    padding: 20px;

    footer i{
        letter-spacing: 20px;
        font-size: 40px;
        color: $color2;
        margin-top: 20px;
    }
}
@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: flex;
    }
    nav{
        padding: 0 30px;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        z-index: 10;
    }
    nav ul li{
        margin: 20px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: #000090;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}